<!DOCTYPE html>
<html ng-app="eggsApp">

<head>
    <title>Zach Eggleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to Zach Eggleton's personal website/portfolio! If you get bored, feel free to check out a different site; I won't judge">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="angular.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="photos/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="mainpageload.css">
    <link rel="preload" href="style.css" as="style" onload="this.rel='stylesheet'">
</head>

<body ng-app="eggsApp" ng-controller="mainController">
    <div id="loading-background">
        <div id="loading" style="position: fixed; top: 35%; left: 50%; margin-left: -25px">
            <div class="logo"></div>
            <h1 style="margin-left: -40px">Loading...</h1>
        </div>
    </div>
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top animate fadeIn">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4 class="navbar-text">
                    <i>ZACH EGGLETON</i>
                </h4>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
                <ul id="headerOptions" class="nav navbar-nav">
                    <li>
                        <a href="javascript: void(0)" ng-click="showLeftTab('about')">ABOUT</a>
                    </li>
                    <li style="border-right: 1px solid rgb(218, 218, 218)">
                        <a href="javascript: void(0)" ng-click="showLeftTab('contact')">CONTACT</a>
                    </li>
                </ul>
                <ul id="centerTab" class="nav navbar-nav">
                    <li id="leftName" class="myName">ZACH</li>
                    <li class="logo"></li>
                    <li id="rightName" class="myName">EGGLETON</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown is-open="status.isopen.projects">
                        <a href="javascript: void(0)" id="single-a" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="largeScreen()" ng-click="showRightTab('projects')">PROJECTS
                        </a>
                        <ul class="dropdown-menu animate fadeIn" id="projectDropdown" uib-dropdown-menu role="menu" aria-labelledby="single-a">
                            <li role="menuitem" ng-repeat="p in projects">
                                <a href="javascript: void(0)" ng-click="showProject(projects.indexOf(p))">{{p.name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" uib-dropdown is-open="status.isopen.resume">
                        <a href="javascript: void(0)" id="single-a" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="largeScreen()" ng-click="showRightTab('resume')">RESUME
                        </a>
                        <ul class="dropdown-menu animate fadeIn" id="resumeDropdown" uib-dropdown-menu role="menu" aria-labelledby="single-a">
                            <li role="menuitem">
                                <a href="javascript: void(0)" ng-click="showRightTab('resume')">Download</a>
                            </li>
                            <li role="menuitem">
                                <a href="javascript: void(0)" ng-click="showRightTab('experience')">Experience</a>
                            </li>
                            <li role="menuitem">
                                <a href="javascript: void(0)" ng-click="showRightTab('skills')">Skills</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="mainContainer" class="container-fluid animate fadeIn">
        <div id="desktop-intro">
            <p>Check out my latest projects!</p>
            <button class="btn btn-default" ng-click="showProject(0)">TRAVEL MAP</button>
            <button class="btn btn-default" ng-click="showProject(1)">THIS WEBSITE</button>
        </div>
        <div class="row equal">
            <div id="leftSide" class="col-md-6">
                <div id="myImage">
                    <div id="imageFiller">
                        <div id="intro">
                            <b>DEVELOPER</b>
                            <br>
                            <b>EXPLORER</b>
                        </div>
                    </div>
                    <img src=//:0 id="me">
                </div>
                <div id="about" class="animate fadeIn" ng-show="leftPage === 'about'">
                    <p>
                        <b>Let's see.......</b> I've been working as an associate software developer for Infosys for almost
                        a year now, providing analysis and writing code for custom plugins, scripts, and queries for the
                        Dynamics CRM systems and databases of our client American Water. I've been trained to work with front-end
                        and back-end web development, database administration and querying, as well as managing automated
                        server jobs with Scribe Integration. My fascination for puzzles allows me to enjoy my job, whether
                        it be trying to fix a software bug or finding an efficient way to perform certain tasks.</p>
                    <p>Back at home, I enjoy video games, watching football or pro wrestling, playing guitar, jigsaw puzzles
                        (yep), and working on some coding projects of my own. I also love the outdoors as well, going hiking
                        whenever I can (sometimes with my ADHD riddled dog) and I'm always up for exploring new places.</p>
                    <p>I also like maps. No, seriously. I could stare at a map for hours and not get bored. It's a weird obsession
                        of mine that I'm trying to tame into my profession as well. More specifically, why haven't we spread
                        out across more remote areas of the world yet like northern Alaska or central Austrailia? It's starting
                        to get crowded here!</p>
                    <p>So that's my long term goal; to be able to develop technology that allows us to inhabit places that we
                        right now consider remote or deserted. I love going to places that not many people have been to,
                        and I believe we can find a way to be able to live among these areas one day, and I would very much
                        like to help out with that!</p>
                </div>
                <div id="contact" class="animate fadeIn" ng-show="leftPage === 'contact'">
                    <form id="contact-form" method="post" action="email.php" role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="contact-intro">This form is currently not working right now. If you have any questions, email me at zeggleto@outlook.com!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_firstname">First Name</label>
                                    <input id="form_firstname" type="text" name="firstname" class="form-control" placeholder="Enter First Name" required="required"
                                        data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_lastname">Last Name</label>
                                    <input id="form_lastname" type="text" name="lastname" class="form-control" placeholder="Enter Last Name" required="required"
                                        data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_email">Email</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Enter your Email" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_subject">Subject</label>
                                    <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Enter a subject" required="required"
                                        data-error="Please list a subject.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="form_message">Message</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="6" required="required" data-error="Please fill message box."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" class="btn btn-success btn-send" value="Send Email">
                        </div>
                        <div class="col-xs-8" id="badges">
                            <div class="col-xs-4">
                                <a title="Facebook" href="https://www.facebook.com/zach.eggleton.5">
                                    <img class="badge" id="facebook" src=//:0>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a title="Github" href="https://github.com/zeggleto">
                                    <img class="badge" id="github" src=//:0>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a title="LinkedIn" href="https://www.linkedin.com/in/zach-eggleton-103005141/">
                                    <img class="badge" id="linkedin" src=//:0>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-cloak id="rightSide" class="col-md-6">
                <div id="projects" class="animate fadeIn" ng-show="rightPage === 'projects'">
                    <h1>
                        <b>PROJECTS</b>
                    </h1>
                    <ul class="list-group" id="project-list">
                        <li class="list-group-item" ng-click="rightPage = showProject(projects.indexOf(p))" ng-repeat="p in projects">
                            <div class="project-brief">
                                <p class="page-header" style="font-size: 24px">{{p.name}}</p>
                                <p>{{p.shortDesc}}</p>
                            </div>
                            <img ng-src=//:0 class="img-rounded sample-image">
                        </li>
                    </ul>
                </div>
                <div id="resume" class="animate fadeIn" ng-show="rightPage === 'resume'">
                    <h1>
                        <b>RESUME</b>
                    </h1>
                    <div class="btn-group">
                        <button id="downloadParent" class="btn btn-default">
                            <a id="download" href="documents/Zach_Eggleton_Resume.pdf" download="zacheggleton">Download</a>
                        </button>
                        <button class="btn btn-default" ng-click="loadResume()">View</button>
                        <button onclick="window.open('documents/Zach_Eggleton_Resume.pdf')" class="btn btn-default">Open</button>
                    </div>
                    <div id="resume-contents">
                        <button ng-click="showRightTab('experience')">Experience</button>
                        <button ng-click="showRightTab('skills')">Skills</button>
                    </div>
                    <embed id="digiResu" src="about:blank" ng-show="resumeOpen">
                </div>
                <div id="project-details" class="animate fadeIn" ng-show="rightPage === 'projectDetails'">
                    <div id="project-box">
                        <h1 class="page-header" style="margin-left: 10px">{{projects[projectIndex].name}}</h1>
                        <div class="row" id="project-description">
                            <div class="col-sm-8">
                                {{projects[projectIndex].longDesc}}
                            </div>
                            <br>
                            <div class="col-sm-4">
                                <b>Technologies:</b> {{projects[projectIndex].technologies}}
                            </div>
                        </div>
                        <div id="images">
                            <img class="img-rounded detail-images" ng-repeat="i in projects[projectIndex].images" ng-src={{i}}>
                        </div>
                        <button class="btn btn-default" id="gitBtn" ng-click="openWindow()">View in Github</button>
                    </div>
                </div>
                <div id="experience" class="animate fadeIn" ng-show="rightPage === 'experience'">
                    <h1>
                        <b>EXPERIENCE</b>
                    </h1>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="e in experience">
                            <p class="page-header" style="font-size: 24px">
                                {{e.name}}
                            </p>
                            <div class="row" id="experience-box">
                                <div class="col-sm-8">
                                    <i style="font-size: 16px">{{e.title}}
                                        <br> {{e.place}}
                                    </i>
                                </div>
                                <div class="col-sm-4" id="time">{{e.time}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="skills" class="animate fadeIn" ng-show="rightPage === 'skills'">
                    <h1>
                        <b>SKILLS</b>
                    </h1>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="s in skills">
                            <h1 class="page-header" style="font-size: 24px">
                                {{s.name}}
                            </h1>
                            <div class="row">
                                <div id="language-box" class="col-sm-8">
                                    <div ng-repeat="l in s.languages">
                                        <h3 id="language">
                                            <i>{{l.name}}</i>
                                        </h3>
                                        <p id="stars">
                                            <span class="glyphicon glyphicon-star" ng-repeat="n in getLevel(l.level) track by $index"></span>
                                        </p>
                                    </div>
                                </div>
                                <div id="other-box" class="col-sm-4">
                                    <b>Other: </b>{{s.other}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <link rel="preload" href="loadbackground.css" as="style" onload="this.rel='stylesheet'">
</body>

</html>