.navbar-inverse {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav>li>a{
    font-size: 16px;
    color: black;
    border-left: 1px solid rgb(218, 218, 218);
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: gray;
}

.navbar-inverse .navbar-nav >li>a:focus {
    color: black;
    background-color: rgb(221, 221, 221);
}

.navbar-toggle {
    background-color: rgb(189, 189, 189);
    border: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0);
}

.dropdown-menu > li > a:hover {
    background-color: rgb(221, 221, 221);
}

#desktop-intro {
    z-index: 1000;
    position: absolute;
    left: 20%;
    top: 30%;
    color: white;
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#desktop-intro > button {
    background-color: transparent;
    color: white;
}

#badges {
    height: 34px;
    margin-bottom: 15px;
    width: 44%;
    float: right;
    padding: 0px;
}

#badges > .col-xs-4 {
    height: 100%;
}

#badges > .col-xs-4 > a > img{
    margin-top: 1px;
    display: block;
    height: 94%;
    padding: 0px;
    float: right;
}

#facebook, #linkedin {
    border-radius: 3px;
}

#github {
    background-color: white;
    border-radius: 50%;
}

#contact {
    color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}

#contact-intro {
    text-align: center;
    font-size: 20px;
}

#about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;                
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 50px;
    padding: 15px;
    color: black;
    font-size: 16px;
    background-color: white;
    padding-bottom: 15px;
    height: auto;
    overflow-y: auto;
}

.page-header {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0px;
}

.list-group {
    overflow-y: auto;
    margin-bottom: 100px;
}

.list-group-item {
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border: none;
}

#project-list > .list-group-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.list-group-item > img {
    height: 100px;
    width: 200px;
    margin: 5px;
    float: right;
}

.btn-group {
    margin-bottom: 10px;
}

#resume-contents {
    float: right;
}

#resume-contents > button {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

#resume-contents > button:hover {
    opacity: .5;
}

#downloadParent {
    padding: 0px;
    height: 34px;
    width: 88px;
}

#download {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

embed {
    width: 100%;
    height: 780px;
}

.project-brief{
    margin-left: 10px;
    float: left;
    overflow: hidden;
    max-width: 48%;
}

#project-box {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 60px;
}

#project-description {
    margin-left: 5px;
    margin-right: 5px;
}

#images {
    float: left;
    margin: 10px;
    width: 100%;
}

#images > img {
    height: 100px;
    width: 200px;
    display: inline-block;
    margin: 5px;
}

#gitBtn {
    display: block;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

#time {
    font-size: 18px;
    text-align: right;
}

#skills .page-header {
    margin-bottom: 0px;
}

#other-box {
    margin-top: 20px;
}

span.glyphicon-star {
    font-size: 24px;
}

span.glyphicon-star:before {
    margin-right: 5px;
}

@media (max-height: 960px) {
    embed {
        height: 450px;
    }
}

@media (max-width: 533px) {
    .project-brief {
        max-width: 100%;
        float: left;
    }
    .list-group-item > img {
        float: left;
    }
}

@media (max-width: 991px) {
    #about {
        max-height: 100%;
    }
    .project > img{
        float: none;
    }
}

@media (max-width: 767px) {
    .navbar-text {
        margin-left: 25px;
        display: block;
    }
    #centerTab {
        display: none;
    }
    .navbar-inverse .navbar-nav>li>a{
        padding-left: 30px;
    }
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

