html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;            
}

#mainContainer {
    background-color: gray;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 51px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
}

#mainContainer > .row {
    height: 100%;
    margin: 0px;
}

#mainNav > .container-fluid {
    padding-left: 0px;
}

#centerTab {
    position: absolute;
    left: 50%;
    margin-left: -26px !important;
    display: block;
}

.navbar-text {
    display: none;
}

#leftName {
    position: absolute;
    display: block;
    right: 60px;
}

#rightName {
    position: absolute;
    display: block;
    left: 60px;
}

.myName {
    height: 100%;
    padding-top: 5px;
    font-size: 30px;
    font-family: Courier New, Courier, monospace
}

#logo {
    margin-top: 5px;
    border: 1px solid black;
    width: 50px;
    height: 70px;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 77%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,254,254,1)), color-stop(77%, rgba(219,219,219,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 77%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 77%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 77%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to right, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 77%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d1d1d1', GradientType=1 );
}

.navbar-inverse {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 1vw;
    margin-left: 15px;
    margin-right: 15px;
}

#badges {
    height: 34px;
    margin-bottom: 15px;
    width: 44%;
    float: right;
    padding: 0px;
}

#badges > .col-xs-4 {
    height: 100%;
}

#badges > .col-xs-4 > a > img{
    margin-top: 1px;
    display: block;
    height: 94%;
    padding: 0px;
    float: right;
}

#github {
    background-color: white;
    border-radius: 50%;
}

#contact {
    color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}

#contact-intro {
    text-align: center;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a{
    font-size: 16px;
    color: black;
    border-left: 1px solid rgb(218, 218, 218);
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: gray;
}

.navbar-inverse .navbar-nav >li>a:focus {
    color: black;
    background-color: rgb(221, 221, 221);
}

.navbar-toggle {
    background-color: rgb(189, 189, 189);
    border: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0);
}

.dropdown-menu > li > a:hover {
    background-color: rgb(221, 221, 221);
}

#leftSide {
    /* background design: starry night, from http://lea.verou.me/css3patterns/ */
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    padding-left: 0px;
    min-height: 100%;
    height: auto;
    padding-right: 0px;
    padding-bottom: 5px;
}

#rightSide {
    padding-top: 5px;
    background: url("photos/Portland(2).JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}

#myImage {
    position: relative;
    width: 100%;
    height: 185.359px;
    background-image: url("photos/Header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imageFiller {
    float: left;
}

#me {
    height: 100%;
    float: right;
    border-top-left-radius: 40px 50%;
    border-bottom-left-radius: 40px 50%;
}

#intro {
    margin-left: 17%;
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    
    line-height: 87px;
    vertical-align: middle;
}

#intro:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 10;
    border-top: 2px dashed rgb(163, 163, 163);
    width: 40%;
    transform: translateY(-50%);
}

#about {
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 50px;
    padding: 15px;
    color: black;
    font-size: 16px;
    background-color: white;
    padding-bottom: 15px;
    height: auto;
    overflow-y: auto;
}

.page-header {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0px;
}

.list-group {
    overflow-y: auto;
    margin-bottom: 100px;
}

.list-group-item {
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#project-list > .list-group-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.list-group-item > img {
    height: 100px;
    width: 200px;
    margin: 5px;
    float: right;
}

.btn-group {
    margin-bottom: 10px;
}

#downloadParent {
    padding: 0px;
    height: 34px;
    width: 88px;
}

#download {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

embed {
    width: 100%;
    height: 780px;
}

.project-brief{
    margin-left: 10px;
    float: left;
    overflow: hidden;
    max-width: 48%;
}

#project-box {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 60px;
}

#project-description {
    margin-left: 5px;
    margin-right: 5px;
}

#images {
    float: left;
    margin: 10px;
}

#images > img {
    height: 100px;
    width: 200px;
    display: inline-block;
    margin: 5px;
}

#time {
    font-size: 18px;
    text-align: right;
}

#skills .page-header {
    margin-bottom: 0px;
}

#other-box {
    margin-top: 20px;
}

span.glyphicon-star {
    font-size: 24px;
}

span.glyphicon-star:before {
    margin-right: 5px;
}

@media (max-height: 960px) {
    embed {
        height: 450px;
    }
}

@media (max-width: 533px) {
    #myImage {
        height: 132px;
    }
    #intro {
        font-size: 6.0vw;
        line-height: 65px;
    }
    .project-brief {
        max-width: 100%;
        float: left;
    }
    #sample-image {
        float: none;
    }
}

@media (min-width: 992px) {
    #leftSide, #rightSide {
        display: flex;
        flex-direction: column;
    }
    #mainContainer > .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 991px) {
    #about {
        max-height: 100%;
    }
    .project > img{
        float: none;
    }
}

@media (min-width: 534px) and (max-width: 991px) {
    #intro {
        font-size: 50px;
        line-height: 88px;
    }
    #intro:before{
        width: 275px;
    }
    #myImage {
        height: 185.359px;
    }
}

@media (max-width: 767px) {
    .navbar-text {
        margin-left: 25px;
        display: block;
    }
    #centerTab {
        display: none;
    }
    .navbar-inverse .navbar-nav>li>a{
        padding-left: 30px;
    }
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

@media (min-width: 2070px) {
    #intro {
        font-size: 75px;
    }
}
